# conda install pytorch torchvision torchaudio cudatoolkit=10.2 -c pytorch
# conda install pytorch torchvision torchaudio cudatoolkit=11.3 -c pytorch
torch~=1.11.0

# pip install torch-scatter -f https://data.pyg.org/whl/torch-1.11.0+cu102.html
torch-scatter~=2.0.9

numpy
bs4~=0.0.1
pandas~=1.4.2
pylatexenc~=2.10
transformers~=4.18.0
tqdm~=4.64.0
info-nce-pytorch~=0.1.4
matplotlib
tensorboard
